{% extends "base.html.twig" %}

{%block title%}Global - Yatching - add boat {% endblock %}

{% block body %}
<div class="container">

    <h1 class="mt-4">Add new Boat</h1>

    {{ form_start (form)}}

    <div class="form-group">
        {{ form_label(form.name) }}
        <div class="border border-dark">
        {{ form_widget(form.name) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.name) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.loa) }}
        <div class="border border-dark">
        {{ form_widget(form.loa) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.loa) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.beam) }}
        <div class="border border-dark">
        {{ form_widget(form.beam) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.beam) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.draft) }}
        <div class="border border-dark">
        {{ form_widget(form.draft) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.draft) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.year) }}
        <div class="border border-dark">
        {{ form_widget(form.year) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.year) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.builder) }}
        <div class="border border-dark">
        {{ form_widget(form.builder) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.builder) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.material) }}
        <div class="border border-dark">
        {{ form_widget(form.material) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.material) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.accomodation) }}
        <div class="border border-dark">
        {{ form_widget(form.accomodation) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.accomodation) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.engines) }}
        <div class="border border-dark">
        {{ form_widget(form.engines) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.engines) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.boatRange) }}
        <div class="border border-dark">
        {{ form_widget(form.boatRange) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.boatRange) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.cruise_speed) }}
        <div class="border border-dark">
        {{ form_widget(form.cruise_speed) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.cruise_speed) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.max_speed) }}
        <div class="border border-dark">
        {{ form_widget(form.max_speed) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.max_speed) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.price) }}
        <div class="border border-dark">
        {{ form_widget(form.price) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.price) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        <div class="border border-dark">
        {{ form_widget(form.description) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.description) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.brand) }}
        <div class="border border-dark">
        {{ form_widget(form.brand) }}
        </div>
        <div class="form-error">
        {{ form_errors(form.brand) }}
        </div>
    </div>

    <h2 class="mt-4">upload images</h2>

    {{ form_end(form) }}
</div>
{% endblock %}