{% extends "base.html.twig" %}

{% block title %}Global - Yatching - Boat_page{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h1>{{ boat.name }}</h1>

            <p>{{ boat.description }}</p>

            <h3 class="mt-4">Section</h3>
            <p>Length: {{ boat.loa }}</p>
            <p>Beam: {{ boat.beam }}</p>
            <p>Draft: {{ boat.draft }}</p>
            <p>Year: {{ boat.year ? boat.year.format('d/m/Y') : '' }}</p>


            <h3 class="mt-4">Shipyard</h3>
            <p>Builder: {{ boat.builder }}</p>
            <p>Material: {{ boat.material }}</p>
            <p>Accommodation: {{ boat.accomodation }}</p>

            <h3 class="mt-4">Propulsion</h3>
            <p>Engine: {{ boat.engines }}</p>
            <p>Range: {{ boat.boatRange }}</p>
            <p>Max speed: {{ boat.maxSpeed }}</p>
            <p>Cruising speed: {{ boat.cruiseSpeed }}</p>

            <div class="mt-4">
                <a href="{{ path('boat.show', {'id': boat.id}) }}" class="btn btn-success">Show</a>
                <a href="{{ path('boat.edit', {'id': boat.id}) }}" class="btn btn-primary">Edit</a>
                <a href="{{ path('boat.delete', {'id': boat.id}) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>

        <div class="col-md-6">
            <img class="m-4" src="https://picsum.photos/200/300" alt="Image 1">
            <img class="m-4" src="https://picsum.photos/200/300" alt="Image 2">
            <img class="m-4" src="https://picsum.photos/200/300" alt="Image 3">
            <img class="m-4" src="https://picsum.photos/200/300" alt="Image 4">
            <img class="m-4" src="https://picsum.photos/200/300" alt="Image 5">
            <style>
                .boat-image {
                    width: 400px; /* Remplacez par la largeur souhaitée */
                    height: 300px; /* Remplacez par la hauteur souhaitée */
                    object-fit: cover; /* Pour conserver les proportions de l'image */
                }
            </style>
            
            <div class="col-md-6">
                {% for boatImage in boatImages %}
                    <img class="m-4 boat-image" src="{{ vich_uploader_asset(boatImage, 'imageFile') }}" alt="Image {{ loop.index }}">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
