{% extends 'base.html.twig' %}

{% block title %}Global - Yatching - default{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mt-4">default List</h1>
    <small>
        <div class="count mt-4">
            <p>{{ boats.getTotalItemCount }} Ship are load </p> 
        </div>
    </small>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success mt-4">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
<div class="alert alert-warning mt-4">
    {{ message }}
</div>
{% endfor %}

    <table class="table table-hover mt-4">
        <thead>
            <tr class="bg-primary text-white">
                <th scope="col">Name</th>
                <th scope="col">LOA</th>
                <th scope="col">Beam</th>
                <th scope="col">Price</th>
                <th scope="col">Builder</th>
                <th scope="col">Brand</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for boat in boats %}
                <tr class="table-active">
                    <td>{{ boat.name }}</td>
                    <td>{{ boat.loa }}</td>
                    <td>{{ boat.beam }}</td>
                    <td>{{ boat.price }}</td>
                    <td>{{ boat.builder }}</td>
                    <td>{{ boat.brand }}</td>
                    <td>
                        <a href="{{ path('boat.show', {'id': boat.id}) }}" class="btn btn-success">Show</a>
                        <a href="{{ path('boat.edit', {'id': boat.id}) }}" class="btn btn-primary">Edit</a>
                        <a href="{{ path('boat.delete', {'id': boat.id}) }}" class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(boats) }}
    </div>
</div>

<div class="container">
<h1 class="mt-4">default Card</h1>

<div class="container d-flex flex-row">

    {% for boat in boats %}
    <div class="card m-4" style="width: 18rem;">
        <img class="card-img-top" src="https://picsum.photos/200/300" alt="{{ boat.name }}{{ boat.id }}">
        <div class="card-body">
          <h5 class="card-title">{{ boat.name }}</h5>
          <p class="card-text">{{ boat.description|slice(0, 100)~ '...' }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ boat.price }} €</li>
          <li class="list-group-item">{{ boat.builder }}</li>
          <li class="list-group-item">{{ boat.engines }}</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('boat.show', {'id': boat.id}) }}" class="btn btn-success">Show</a>

        </div>
      </div>
      {% endfor %}

</div>
</div>
{% endblock %}
